{% include 'recipes/Partials/head.html' %}

<body>
    {% include 'recipes/Partials/header.html' %}
    {% include 'recipes/Partials/search-container.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'recipes/Partials/recipe.html' %}
            {% include 'recipes/Partials/recipe.html' %}
            {% include 'recipes/Partials/recipe.html' %}
            {% include 'recipes/Partials/recipe.html' %}
            {% include 'recipes/Partials/recipe.html' %}
            {% include 'recipes/Partials/recipe.html' %}
                
            </div>
        </div>

    </main>
    {% include 'recipes/Partials/footer.html' %}
</body>

</html>